/*html, body {background: #ECEBEB #FAFAFA; font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;}*/
html, body {background: #E9EAED; font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;}
#wrap {min-height: 100%; height: auto; margin: 0 auto -60px; padding: 0 0 60px;}
#footer {height: 60px; margin-top: 20px; /*background-color: #FFF; border-top: 1px solid #F1F1F1;*/}
#footer > .container {padding-left: 0px; padding-right: 0px; border-top: 0px solid #E9E9E9; }
.k-window .k-window-content {overflow: hidden; }
.ps_err {color: red;}
.container .credit {margin: 20px 0; padding: 0px;}
.no-padding {padding: 0px;}
.panel-default>.panel-heading {border: none; padding: 5px;}
#bis-loading.k-loading-mask {top:0; left:0; width:100%; height:100%; z-index:2; z-index: 99999;}
#bis-loading.k-loading-mask .k-loading-text {text-indent: 0px; text-align: center; width: 100%; line-height: 200px;}
#bis-loading.k-loading-mask .k-loading-color {background: #505050;}

.panel {border-radius: 0px; margin-bottom: 10px;}
.panel-heading {padding: 10px;}
.panel-body {padding: 5px;}

/* breadcrumb */
.breadcrumb {background: none; margin-bottom: 0px; padding: 5px 15px 5px 0px;}
.nav .open>a {border-color: #EEE !important;}
.navbar-header-breadcrumb {margin-top: 0px; float: left; margin-bottom: 0px; padding-left: 0px;}
.navbar-header-breadcrumb a {color: #EBE6E6;}
.navbar-header-breadcrumb a:hover {color: #FFF;}

/*tables*/
.table>thead>tr>th {padding: 5px;}

/* Custom inclusion of right, left and below tabs */
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {border-radius: 0px;}
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs { border-bottom: 0; }
.tab-content > .tab-pane,
.pill-content > .pill-pane { display: none; }
.tab-content > .active,
.pill-content > .active { display: block; }
.tabs-below > .nav-tabs { border-top: 1px solid #DDD; }
.tabs-below > .nav-tabs > li { margin-top: -1px; margin-bottom: 0; }
.tabs-below > .nav-tabs > li > a { -webkit-border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px; }
.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus { border-top-color: #DDD; border-bottom-color: transparent; }
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus { border-color: transparent #DDD #DDD #DDD; }
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li { float: none; }
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a { min-width: 74px; margin-right: 0; margin-bottom: 3px; }
.tabs-left > .nav-tabs { float: left; margin-right: 5px; border-right: 1px solid #DDD; }
.tabs-left > .nav-tabs > li > a { margin-right: -1px; -webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px; }
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus { border-color: #EEEEEE #DDDDDD #EEEEEE #EEEEEE; }
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus { border-color: #DDD transparent #DDD #DDD; *border-right-color: #FFFFFF; }
.tabs-right > .nav-tabs { float: right; margin-left: 19px; border-left: 1px solid #DDD; }
.tabs-right > .nav-tabs > li > a { margin-left: -1px; -webkit-border-radius: 0 4px 4px 0; -moz-border-radius: 0 4px 4px 0; border-radius: 0 4px 4px 0; }
.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus { border-color: #EEEEEE #EEEEEE #EEEEEE #DDDDDD; }
.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus { border-color: #DDD #DDD #DDD transparent; *border-left-color: #FFFFFF; }
.tabs-left > .nav-tabs { width: 180px; text-align: center; }
.tabs-left > .nav-tabs > li.active > a { color: #000; background: rgb(231, 231, 231); font-weight: bold; }

/* Main navigation */
.navbar {border: none; border-radius: 0px; margin-bottom: 10px;}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {font-weight: bold;}
@media (max-width: 768px) {
    .navbar-default .navbar-collapse {width: 100%; margin: 0px; padding: 0px 15px;}
}
@media (max-width: 990px) {
    .nav-tab-module {}
    .nav-tab-module li {width: auto; max-width: 155px; height: 30px; overflow: hidden;}
    .nav-tab-module li a {padding: 5px;}
    .nav-tab-module li a:hover {}
    .nav-tab-module li a .glyphicon {display: none;}
    .nav-tab-module li:hover {}
}
.list-group-item {padding: 5px 10px;}

/*Kendo UI*/
.k-dropdown-wrap .k-input, .k-picker-wrap .k-input, .k-numeric-wrap .k-input {border-radius: 1px; -webkit-border-radius: 1px; }
.k-toolbar h4, .k-grid-toolbar h4 {margin: 0px; line-height: 25px;}
.k-secondary .k-toolbar {padding: 8px; background: none;}
.k-grid {border: none;}

/*Select2*/
.select2-drop {border-radius: 1px; -webkit-border-radius: 1px; }
.select2-results {}
.select2-container .select2-choice {border-radius: 1px !important; -webkit-border-radius: 1px !important; border: 1px solid #DBD4D4 !important; }
.select2-container .select2-choice .select2-arrow {border-radius: 1px; -webkit-border-radius: 1px; border-left: 1px solid #E0E0E0; }

.navbar-default .navbar-toggle {border: none;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {border: none; background: #337AB7;}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

/*** Tab Left ***/
div.bhoechie-tab-container{background-color: #ffffff; padding: 0 !important; border:1px solid #ddd; }
div.bhoechie-tab-menu{padding-right: 0; padding-left: 0; padding-bottom: 0; }
div.bhoechie-tab-menu div.list-group{margin-bottom: 0; }
div.bhoechie-tab-menu div.list-group>a{margin-bottom: 0; }
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {color: #428BCA; }
div.bhoechie-tab-menu div.list-group>a:first-child{border-top-right-radius: 0; -moz-border-top-right-radius: 0; }
div.bhoechie-tab-menu div.list-group>a:last-child{border-bottom-right-radius: 0; -moz-border-bottom-right-radius: 0; }
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{background-color: #428BCA; background-image: #428BCA; color: #ffffff; }
div.bhoechie-tab-menu div.list-group>a.active:after{content: ''; position: absolute; left: 100%; top: 50%; margin-top: -13px; border-left: 0; border-bottom: 13px solid transparent; border-top: 13px solid transparent; border-left: 10px solid #428BCA; }
div.bhoechie-tab-content{}
div.bhoechie-tab div.bhoechie-tab-content:not(.active){display: none; }
.bhoechie-tab {border-left: 1px solid #CCC;}
.list-group-item {border: none; border-bottom: 1px solid #ECECEC; line-height: 30px;}

/*--- sidebar ---*/ #sidebar a.list-group-item {border: 1px solid #DDD;}
.k-nav-current > .k-link span + span {max-width: 200px; display: inline-block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; vertical-align: top; }
.k-edit-buttons{border-width: 0 !important; border-style: none !important; }
.k-scheduler-delete{color: #fff !important; background-color: #d9534f !important; border-color: #d43f3a !important; }
.k-scheduler-delete:hover{color: #fff !important; background-color: #d2322d !important; border-color: #ac2925 !important; text-decoration: none !important; }
.k-button{border-radius: 2px !important; }
.k-popup-message{padding: 0 !important; }
.k-edit-form-container{width: 465px !important; }
.drop-filter {float: right; margin: 5px; }
.filter-wg {margin-left: 8px; }
.star {color: red;}
/* css for set color of schedule when use template*/
.k-event{background: none; border: none; }
.template-publicsolution {border: none; width: 100%; height: 100%; }
/*treeview*/
#treeview-left,
#treeview-right {float: left; width: 220px; overflow: visible; }
.freetext-section {padding: 20px; overflow-x:auto;}
.freetext-section:after {content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.add_root{margin-bottom: 20px; }
.active-node{background-color: #989898; }
.color-edit{color: #35A829}
.color-add{color: #800080}
.color-delete{color: #F00}