.d-delete {text-align:center; padding-left: 22%; padding-right: 22%; }
.msg_success{display: none; padding-left: 25%; padding-right: 25%; }
.nav-tree{text-transform: none !important; color: #428bca !important; font-weight: normal !important; font-size: 14px !important; }
.nav-list{padding-left:15px; margin-bottom:0; }
.nav-list>li>a,.nav-list .nav-header{margin-left:-15px; text-shadow:0 1px 0 rgba(255, 255, 255, 0.5); }
.nav-list>li>a{padding:3px 15px; }
.nav-list>.active>a,.nav-list>.active>a:hover,.nav-list>.active>a:focus{color:#ffffff; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.2); background-color:#0088cc; }
.nav-list [class^="icon-"],.nav-list [class*=" icon-"]{/* margin-right:2px;*/ }
.nav-list .divider{*width:100%; height:1px; margin:9px 1px; *margin:-5px 0 5px; overflow:hidden; background-color:#e5e5e5; border-bottom:1px solid #ffffff; }
.nav-header{display:block; padding:3px 0px; font-size:11px; font-weight:bold; line-height:20px; color:#999999; text-shadow:0 1px 0 rgba(255, 255, 255, 0.5); text-transform:uppercase; }
.group-h{font-weight: bold; color: #999999; text-transform: uppercase; /*padding: 12px 15px 0px 10px; margin-left: 20px; height: 50px;*/ }
.group-body{overflow-y: auto; overflow-x: hidden; max-height: 430px; padding-right: 10px; padding-left:10px }
.group-w{padding: 8px 0; }
.delete_group, .delete{text-transform: none; font-size: 10px; cursor:pointer; }
.edit{text-transform: none; font-size: 10px; cursor:pointer; margin-right: 15px; }