.module_active {font-weight: bold; background: #FFF; border: 1px solid #DDD; border-bottom: none;}
.nav-tabs>li.module_active>a:hover {background: none; border-color: #FFF;}
.tab-content-wrapper {padding: 0; background: #FFF; border: 1px solid #DDD; border-top: none; overflow-x: hidden;}
#module_tab ul.nav li.dropdown:hover ul.dropdown-menu {display: block;}
#module>.nav-tabs>li>a:hover {}
#module_submenu.nav-pills>li.active>a,
#module_submenu.nav-pills>li.active>a:hover,
#module_submenu.nav-pills>li.active>a:focus,
#module_submenu.nav>li>a:hover,
#module_submenu.nav>li>a:focus {border-bottom: 3px solid #428BCA; background: none; color: #428BCA;}
#module_submenu.nav>li>a:hover {border-bottom-color: #CCC;}
#module_submenu {margin: 5px 0px;}
#module_tab .nav-tabs {border-bottom: none;}