.panel-heading { font-weight: bold;}
.gps_list { margin: 0px; padding: 0px;}
.gps_list li {  margin-left: 10px;}
.gps_information_value { padding-left: 7px;}
#panel_gps_record ul li { line-height: 25px;}
#panel_gps_record .active {}
#panel_gps_record .active td,#tb_activiti .active td{background: #6290D6; color: #FFF;}
.filter_item { width: auto; padding-top: 5px;}
.filter_item label { padding-right: 10px;}
.filter_item select { width: 180px;}
.gps_detail:hover{ cursor: pointer; }
#tab_information { padding-top: 10px;}
#panel_gps_record_body table td {padding: 4px;}
#information_tab_content { padding: 0px; border: 0px solid #ccc; border-top: none; background: #fff; }
#information_tab_content table td {padding: 4px;}
/*#filter_wrap {width: 100%;}*/
#map table{margin-bottom: 0px; font-size: 13px; }
#map table th,td{padding: 4px; }